@import url("https://fonts.googleapis.com/css2?family=Namdhinggo:wght@400;500;600;700;800&family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: system-ui;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"),
    local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"),
    local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

html {
  background: #6962ad;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat, system-ui;
}

.main-container {
  background-image: url(form_background.jpg);
  background-position: center;
  height: 100vh;
  width: 80vw;
  background-size: cover;
  display: flex;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 30vw;
  text-align: center;
}
.logoContainer {
  margin-top: 150px;
  background-color: rgba(85, 85, 85, 0.39);
  color: white;
}

.imgCreditContainer {
  background-color: rgba(85, 85, 85, 0.55);
  color: white;
}

.logoContainer {
  display: flex;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}
.imgCreditContainer a:link,
a:visited {
  color: white;
  text-decoration: none;
  font-weight: 500;
}
.right-container {
  background-color: #83c0c1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50vw;
}

.right-container .header {
  font-family: "Oswald", system-ui;
  font-size: 1.7rem;
  letter-spacing: -0.5px;
  line-height: 1.3em;
  padding-left: 15px;
}
form {
  background-color: #96e9c6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  font-weight: 500;
}

.name-container,
.password-container,
.contact-container {
  display: flex;
  gap: 50px;
}

.name-container,
.contact-container {
  margin-bottom: 15px;
}

.first-name,
.last-name,
.email,
.phone-number,
.password,
.conf-password {
  display: flex;
  flex-direction: column;
}

.contact-container {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
.required-asterisk {
  color: red;
  font-weight: 700;
}
input:not(input[type="checkbox"]) {
  background-color: white;
  width: 200px;
  height: 25px;
  border: 1px solid;
  border-radius: 5px;
}

input:not(:placeholder-shown):invalid {
  border-color: red;
}

input:not(:placeholder-shown):valid {
  border-color: rgb(1, 75, 1);
  border-width: 2px;
  background-color: white;
  background: url(./check-mark.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 180px;
}
.bottomFormContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0 0 10px;
  font-weight: 500;
}
.bottomFormContainer p,
a {
  font-size: 15px;
}
.createAccountBtn {
  margin-top: 5px;
  width: 200px;
  padding: 15px;
  border: 1px solid;
  border-radius: 5px;
  background-color: aquamarine;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: Montserrat, system-ui;
  font-weight: 700;
}

.createAccountBtn:hover {
  background-color: #6962ad; /* change to your desired color */
  color: white; /* change to your desired color */
  transition: 0.3s;
}

.bottomFormContainer a:link {
  color: #6962ad;
  font-weight: 700;
  text-decoration: none;
}

.warning-required {
  font-size: 0.8rem;
  font-weight: 600;
}
